body {
    /*font-family: "freight-text-pro", serif;*/
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: #333;
    letter-spacing: 0.17px;
    -webkit-font-smoothing: antialiased;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004)
}

hr {
    margin: 20px 0
}

hr.no-margin {
    margin: 0
}

h1,
h2,
h3,
h4,
h5,
h6 {
    /*font-family: "freight-sans-pro", sans-serif;*/
    font-family: 'Open Sans', sans-serif;
    font-weight: 600
}

nav {
    /*font-family: "freight-sans-pro", sans-serif;*/
    font-family: 'Open Sans', sans-serif;
    font-size: 16px
}

nav .title {
    line-height: 31px;
    font-size: 21px;
    vertical-align: middle;
    margin-left: 6px;
    font-weight: 500
}

nav .navbar-nav li a {
    color: black
}

nav .navbar-nav li a:hover {
    text-decoration: underline
}

nav.navbar-default {
    background-color: transparent;
    border-color: transparent
}

nav.navbar-default .navbar-collapse {
    border-color: transparent
}

nav.navbar-default .navbar-nav>.active>a {
    background-color: transparent;
    color: inherit;
    font-weight: 600
}

nav.navbar-default .navbar-nav>.active>a:hover {
    background-color: transparent
}

nav .navbar-brand {
    padding: 8px 15px;
    font-weight: 500;
    letter-spacing: 0
}

nav .navbar-brand img {
    width: 32px;
    height: 32px;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    transition: all 0.2s ease
}

nav .navbar-brand:hover img {
    box-shadow: rgba(0, 0, 0, 0.3) 0 0 9px
}

nav .navbar-brand:hover .title {
    text-decoration: none;
    background-image: linear-gradient(to bottom, transparent 50%, rgba(0, 0, 0, 0.6) 50%);
    background-repeat: repeat-x;
    background-size: 2px 2px;
    background-position: 0 23px
}

nav.navbar {
    margin-bottom: 0
}

nav .container-fluid {
    padding-left: 0;
    padding-right: 0
}

p {
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 17px
}

p a:hover,
p a:active,
p a:focus {
    text-decoration: none;
    background-image: linear-gradient(to bottom, rgba(42, 100, 150, 0) 50%, rgba(42, 100, 150, 0.6) 50%);
    background-repeat: repeat-x;
    background-size: 2px 2px;
    background-position: 0 21px
}

#title {
    /*font-family: "freight-sans-pro", serif*/
    font-family: 'Open Sans', sans-serif;
}

#title .name {
    margin-top: 30px;
    font-size: 48px;
    font-weight: 400;
    text-transform: lowercase
}

#title .description {
    color: gray;
    font-size: 28px;
    font-weight: 400
}

#title .social {
    margin-top: 12px;
    font-size: 36px
}

#title a {
    color: gray;
    cursor: pointer;
    margin: 0 10px;
    -webkit-transition: color 0.1s ease;
    -moz-transition: color 0.1s ease;
    transition: color 0.1s ease
}

#title a:hover {
    color: black
}

#title a:hover,
#title a:active,
#title a:focus,
#title a:visited {
    text-decoration: none
}

#projects img {
    max-width: 100%;
    height: auto;
    margin: 10px 0;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    transition: all 0.4s ease
}

#posts h2 {
    margin-bottom: -5px
}

#posts .headline {
    margin: 20px 0;
    font-size: 20px
}

#posts .headline .title {
    /*font-family: "freight-sans-pro", sans-serif;*/
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    font-weight: 400
}

#posts .headline:first-child {
    margin-top: 0px
}

#posts .headline a:hover {
    text-decoration: none;
    background-image: linear-gradient(to bottom, rgba(42, 100, 150, 0) 50%, rgba(42, 100, 150, 0.6) 50%);
    background-repeat: repeat-x;
    background-size: 2px 2px;
    background-position: 0 26px
}

.more {
    font-size: 20px;
    /*font-family: "freight-sans-pro", sans-serif*/
    font-family: 'Open Sans', sans-serif;
}

.more i {
    font-size: 12px;
    line-height: 18px;
    margin-left: 5px
}

.more:hover {
    text-decoration: none
}

.post {
    font-weight: 300
}

.post .post-header h1 {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 32px
}

.post .post-header h2,
.post .post-header h3,
.post .post-header h4,
.post .post-header h5 {
    /*font-family: "freight-sans-pro", serif;*/
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    margin-top: 30px
}

.post .post-header p {
    font-style: italic;
    font-weight: 300;
    font-size: 18px
}

.post .post-header p.meta {
    /*font-family: "freight-text-pro", serif;*/
    font-family: 'Open Sans', sans-serif;
    color: gray;
    margin-bottom: 0;
    font-weight: 300;
    font-size: 19px
}

.post .post-content {
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 17px
}

.post .post-content img {
    border: 1px solid #eee;
    padding: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%
}

.post .post-content ul,
.post .post-content ol {
    padding-left: 24px;
    margin-bottom: 17px
}

.post .post-content ul+pre,
.post .post-content ul+.highlight,
.post .post-content ol+pre,
.post .post-content ol+.highlight {
    margin-top: 5px;
    margin-left: 24px
}

.post .post-content pre {
    margin: 20px 0;
    border: 0;
    border-radius: 0
}

.post .post-content h1,
.post .post-content h2,
.post .post-content h3,
.post .post-content h4,
.post .post-content h5 {
    font-weight: 600
}

.post .post-content [contenteditable] {
    text-decoration: none;
    background-image: linear-gradient(to bottom, transparent 50%, rgba(0, 0, 0, 0.6) 50%);
    background-repeat: repeat-x;
    background-size: 2px 2px;
    background-position: 0 25px;
    outline: none;
    display: inline-block
}

.project .project-header {
    /*font-family: "freight-sans-pro", sans-serif;*/
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 20px
}

.project .project-content img {
    margin: 30px 0;
    display: block;
    max-width: 100%;
    height: auto
}

#about{
    /*text-align:center;*/
}